@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "darumadrop";
  src: url("../src/assets/fonts/DarumaDropOne-Regular.ttf") format("opentype");
}

.ticket-counter {
  clip-path: polygon(
    81.677% 0%,
    6.329% 0%,
    6.329% 0%,
    5.302% 0.045%,
    4.329% 0.176%,
    3.421% 0.385%,
    2.591% 0.665%,
    1.854% 1.01%,
    1.221% 1.412%,
    0.706% 1.864%,
    0.323% 2.358%,
    0.083% 2.889%,
    0% 3.448%,
    0% 85.462%,
    0% 85.462%,
    0.004% 85.583%,
    0.016% 85.703%,
    0.035% 85.824%,
    0.062% 85.944%,
    0.097% 86.063%,
    0.139% 86.181%,
    0.189% 86.299%,
    0.247% 86.416%,
    0.312% 86.531%,
    0.385% 86.646%,
    7.826% 97.736%,
    7.826% 97.736%,
    8.142% 98.13%,
    8.539% 98.493%,
    9.01% 98.824%,
    9.547% 99.12%,
    10.143% 99.378%,
    10.792% 99.595%,
    11.486% 99.768%,
    12.219% 99.895%,
    12.982% 99.973%,
    13.77% 100%,
    93.671% 100%,
    93.671% 100%,
    94.698% 99.955%,
    95.671% 99.824%,
    96.58% 99.615%,
    97.409% 99.335%,
    98.146% 98.99%,
    98.779% 98.588%,
    99.294% 98.136%,
    99.677% 97.642%,
    99.917% 97.111%,
    100% 96.552%,
    100% 17.433%,
    100% 17.433%,
    99.994% 17.281%,
    99.976% 17.131%,
    99.946% 16.981%,
    99.903% 16.832%,
    99.849% 16.685%,
    99.784% 16.539%,
    99.706% 16.394%,
    99.617% 16.252%,
    99.517% 16.111%,
    99.405% 15.973%,
    87.411% 1.988%,
    87.411% 1.988%,
    87.064% 1.638%,
    86.651% 1.316%,
    86.178% 1.024%,
    85.651% 0.764%,
    85.076% 0.539%,
    84.458% 0.351%,
    83.803% 0.2%,
    83.117% 0.09%,
    82.407% 0.023%,
    81.677% 0%
  );
}

.socials {
  clip-path: polygon( 85.059% 0%,6.329% 0%,6.329% 0%,5.302% 0.467%,4.329% 1.821%,3.421% 3.986%,2.591% 6.891%,1.854% 10.46%,1.221% 14.622%,0.706% 19.302%,0.323% 24.426%,0.083% 29.921%,0% 35.714%,0% 58.566%,0% 58.566%,0.057% 63.361%,0.223% 67.985%,0.493% 72.392%,0.859% 76.532%,1.315% 80.358%,1.854% 83.822%,2.47% 86.876%,3.156% 89.472%,3.906% 91.561%,4.713% 93.096%,8.55% 98.816%,8.55% 98.816%,8.709% 99.04%,8.869% 99.241%,9.029% 99.418%,9.19% 99.572%,9.352% 99.703%,9.514% 99.81%,9.677% 99.893%,9.84% 99.952%,10.003% 99.988%,10.167% 100%,93.671% 100%,93.671% 100%,94.698% 99.533%,95.671% 98.179%,96.58% 96.014%,97.409% 93.109%,98.146% 89.54%,98.779% 85.378%,99.294% 80.698%,99.677% 75.574%,99.917% 70.079%,100% 64.286%,100% 45.756%,100% 45.756%,99.938% 40.753%,99.757% 35.943%,99.465% 31.379%,99.07% 27.114%,98.578% 23.201%,97.999% 19.694%,97.339% 16.645%,96.606% 14.108%,95.807% 12.135%,94.952% 10.78%,86.339% 0.739%,86.339% 0.739%,86.213% 0.599%,86.086% 0.473%,85.958% 0.363%,85.83% 0.267%,85.702% 0.185%,85.574% 0.119%,85.445% 0.067%,85.317% 0.03%,85.188% 0.007%,85.059% 0% ); 
}
.blue-sky-bg {
  background-image: url("./assets/images/main-bg.png");
}
