@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "darumadrop";
  src: url("../src/assets/fonts/DarumaDropOne-Regular.ttf") format("opentype");
}

.ticket-counter {
  border-radius: 20px 30px 20px 30px;
  height: 100px;
  width: 50px;
  
  box-shadow: "0 0 10px 5px rgba(0, 0, 255, 0.5)";
  clip-path: polygon( 78.118% 2.581%,11.236% 2.581%,11.236% 2.581%,10.325% 2.623%,9.46% 2.745%,8.654% 2.941%,7.918% 3.203%,7.263% 3.525%,6.702% 3.901%,6.245% 4.324%,5.904% 4.787%,5.692% 5.283%,5.618% 5.806%,5.618% 82.529%,5.618% 82.529%,5.621% 82.642%,5.632% 82.755%,5.649% 82.867%,5.673% 82.98%,5.704% 83.091%,5.742% 83.202%,5.786% 83.312%,5.837% 83.421%,5.895% 83.529%,5.959% 83.636%,12.564% 94.011%,12.564% 94.011%,12.845% 94.379%,13.198% 94.72%,13.615% 95.029%,14.092% 95.306%,14.622% 95.547%,15.198% 95.75%,15.814% 95.912%,16.464% 96.031%,17.142% 96.104%,17.841% 96.129%,88.764% 96.129%,88.764% 96.129%,89.675% 96.087%,90.54% 95.965%,91.346% 95.769%,92.082% 95.507%,92.737% 95.184%,93.298% 94.808%,93.755% 94.386%,94.096% 93.923%,94.308% 93.426%,94.382% 92.903%,94.382% 18.889%,94.382% 18.889%,94.377% 18.747%,94.36% 18.606%,94.334% 18.466%,94.296% 18.327%,94.248% 18.189%,94.19% 18.052%,94.121% 17.917%,94.042% 17.784%,93.953% 17.652%,93.854% 17.523%,83.208% 4.441%,83.208% 4.441%,82.9% 4.113%,82.533% 3.812%,82.113% 3.539%,81.645% 3.296%,81.135% 3.085%,80.586% 2.909%,80.005% 2.768%,79.396% 2.665%,78.766% 2.602%,78.118% 2.581% ); 
}


.connect-button {
  background-color: #3D3D3D;
  color: #5DF7A4;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.connected-button {
  background-color: #5DF7A4;
  color: #3D3D3D;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

